*{
    background-color: #fff;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  
}

.logo{
  width: 320px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.container {
    border: 2px solid #daa95f;
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #daa95f;
    background-color: #f8f8f8;
    
  }

label{
    display: block; /* add this */
    padding-top: 5px;
} 

.generate {
  background-color: #daa95f;
  border: 1px solid #daa95f;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.generate:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .generate {
    padding: 10px 30px;
  }
}


