<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/styles.css">
    <script type="application/javascript" src="../../public/js/script.js"></script>
    <title>Missing number</title>
</head>

<body>
    <header>
    </header>
    <main>
        <div class="container">
            <img class="logo" src="../../public/img/logo.png"></img>
            <label for="list"> Secuencia de números </label>
            <input type="text" name="numbers" id="numbers" placeholder="Ingrese los números separados por coma ">
            <button type="button" class="generate" role="button" id="generate" onclick="missingNumber()">Generar
                faltante</button>
            <label for="missing_number"> Número faltante </label>
            <div>
                <label for="missing_number" name="missingNumber" id="missingNumber"></label>
            </div>
            <button type="button" class="generate" role="button" id="clear">Limpiar</button>
        </div>
    </main>
</body>

</html>